/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
	--color-primary: #0a3641;
	--color-secondary: #ebebeb;
	--color-activity: #fbaf00;
	--color-title: #9cd7d3;
	--color-btn-hover: #fbaf00;

	--border-radius-left: 0.5rem 0 0 0.5rem;
	--border-radius-right: 0 0.5rem 0.5rem 0;
	--border-radius-top: 0.5rem 0.5rem 0 0;
	--border-radius-bottom: 0 0 0.5rem 0.5rem;
	--border-radius-full: 0.5rem;

	--card-name-padding: 0.5rem 0;
	--card-text-bold: bold;
}
