.nav-home {
	background-color: #9cd7d3;
	color: var(--color-primary);
	border-radius: var(--border-radius-top);
}

.nav-home:hover {
	color: var(--color-primary);
}

.item-name {
	background-color: var(--color-activity);
	color: var(--color-primary);
	border-radius: var(--border-radius-bottom);
	width: 100%;
}

.featured-men img {
	border-radius: 0;
	border-bottom: solid var(--color-activity);
}

.featured-items {
	display: flex;
	justify-content: space-around;

	background-image: url(assets/images/shared/raindrops-background.png);
	background-size: cover;
}

.img-container,
.featured-item {
	display: flex;
	flex-direction: column;
}
.featured-item {
	align-items: center;
	padding-block: 8rem;
}

.img-container img {
	width: 100%;
	height: 15rem;
	border-radius: var(--border-radius-top);
}
