/* reset.css */

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	min-height: 100vh;
	margin: 0;
}

/* variables.css */

/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
	--color-primary: #0a3641;
	--color-secondary: #ebebeb;
	--color-activity: #fbaf00;
	--color-title: #9cd7d3;
	--color-btn-hover: #fbaf00;

	--border-radius-left: 0.5rem 0 0 0.5rem;
	--border-radius-right: 0 0.5rem 0.5rem 0;
	--border-radius-top: 0.5rem 0.5rem 0 0;
	--border-radius-bottom: 0 0 0.5rem 0.5rem;
	--border-radius-full: 0.5rem;

	--card-name-padding: 0.5rem 0;
	--card-text-bold: bold;
}

/* header.css */

header {
	background-color: var(--color-primary);
}

a {
	color: var(--color-secondary);
	text-decoration: none;
}

.main-nav {
	display: flex;
	justify-content: space-around;
	align-items: end;
}

.header-right {
	display: flex;
}

.header-nav {
	display: flex;
	align-content: center;
}

.nav-item {
	width: 6rem;
	height: 1.5rem;
	text-align: center;
	padding-top: 0.5rem;
}

.nav-item:hover {
	color: var(--color-activity);
	transition: 0.5s;
}

.header-right a {
	display: flex;
	align-items: end;
}

/* footer.css */

footer {
	background-color: #0a3641;
	color: #ebebeb;

	height: 10rem;
}

footer a {
	color: #ebebeb;
	text-decoration: none;
}

.footer-main {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-socialmedia {
	display: flex;
	gap: 2rem;
	height: auto;
}

h4 {
	text-decoration: underline;
}

ul {
	list-style: none;
}

/* banner.css */

.banner {
	display: flex;
}

.banner-img {
	object-fit: cover;
	width: 100%;
}

/* title.css */

.title {
	display: flex;
	justify-content: center;

	background-color: var(--color-primary);
}

.title h2 {
	display: flex;
	align-items: center;

	height: 5rem;
	margin: 0;

	color: var(--color-title);
}
