@import url('./src/css/partials/reset.css');
@import url('./src/css/partials/variables.css');
@import url('./src/css/partials/header.css');
@import url('./src/css/partials/footer.css');
@import url('./src/css/partials/banner.css');
@import url('./src/css/partials/title.css');
@import url('./src/css/partials/jackets.css');

body {
	color: var(--color-primary);
	background-color: var(--color-secondary);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title h2 {
	font-family: 'girassol', serif;
	font-size: 2rem;
	font-weight: lighter;
}
