@import url('src/css/partials/reset.css');
@import url('src/css/partials/variables.css');
@import url('src/css/partials/header.css');
@import url('src/css/partials/footer.css');
@import url('src/css/partials/banner.css');
@import url('src/css/partials/title.css');

/* i couldnt get the importrule to work with github pages, so i made a 
shared.css and copypasted all the partials in one file.  */

body {
	color: var(--color-primary);
	background-color: var(--color-secondary);
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.title h2 {
	font-family: 'girassol', serif;
	font-size: 2rem;
	font-weight: lighter;
}
