.info-text {
	padding-top: 3rem;
	display: flex;
	justify-content: center;
}

.info-text p {
	background-color: var(--color-primary);
	color: var(--color-secondary);
	border-radius: var(--border-radius-full);
	padding: 0.5rem;
}

.ship-and-pay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5rem;
}

.form-billing,
.form-shipping,
.form-payment {
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius-full);
}

.shippingandbilling-same {
	padding-block: 0.5rem;
}
