.nav-contact {
	background-color: #9cd7d3;
	color: var(--color-primary);
	border-radius: var(--border-radius-top);
}

.nav-contact:hover {
	color: var(--color-primary);
}

.info-text {
	display: flex;
	justify-content: center;
}

.info-text p {
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--color-primary);
	color: var(--color-secondary);
}

.forms {
	display: flex;
	justify-content: space-around;
}

/* .form-info{

} */
