@import url('./_reset.css');
@import url('./_variables.css');
@import url('./_header.css');
@import url('./_footer.css');
@import url('./_banner.css');
@import url('./_title.css');

body {
	color: var(--color-primary);
	background-color: var(--color-secondary);
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}
