@import url('src/css/_reset.css');
@import url('src/css/_variables.css');
@import url('src/css/_header.css');
@import url('src/css/_footer.css');
@import url('src/css/_banner.css');
@import url('src/css/_title.css');

body {
	color: var(--color-primary);
	background-color: var(--color-secondary);
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.title h2 {
	font-family: 'girassol', serif;
	font-size: 2rem;
	font-weight: lighter;
}
